<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../public/styles/style.css" />

    <title>Home</title>
  </head>
  <body>
    <h2 class="webTitle">Library Authentication</h2>
    <!-- <div id="container"> </div> -->

    <div class="abc">
      <form method="post">
        <div class="InputsLabelsContainer">
          <h4>Sign Up</h4>
          <label for="name">Enter your name</label>
          <input required  id="name" type="text" name="name" value="" />
          <label for="username">Enter your username</label>
          <input required id="username" type="text" name="username" value="" />
          <label for="password">Enter your password</label>
          <input required id="password" type="password" name="password" value="" />
          <input type="submit" id="signUpBtn" name="Submit" value="Submit" />
          <div>
            <input type="button" onclick="toLogin()" name="return" value="Return to login"/>
          </div>
          <h4 id="Announce">Please sign up</h4>

        </div>
      </form>
    </div>

    <script type="text/javascript" src="../../public/scripts/fetch.js"></script>
    <script type="text/javascript" src="../../public/scripts/dom.js"></script>
  </body>
</html>
